.inputGroup {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  input,textarea,select {
    padding: 1.5rem;
    border-radius: 2rem;
    border: 0.1rem solid gray;
    font-size: 1.6rem;
    resize: none;
    &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }
  }
}
